<!DOCTYPE html>
<html>
<head>
  <title>LangtrainerOrmActiverecord</title>
  <%= stylesheet_link_tag    "langtrainer_orm_activerecord/application", media: "all" %>
  <%= javascript_include_tag "langtrainer_orm_activerecord/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
